/* CSS Document */

/*********/
/**FONTS**/
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}



/***********************************************************************************



/**************/
/**CSS REMEDY**/
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
}

button, summary {
	cursor: pointer;
}


/***********************************************************************************



/*********************/
/**CUSTOM PROPERTIES**/
/*********************/
:root {
	/* DARK MODE COLOR SCHEME  */
	--color-main:#8EA5D1;
	--color-background:#2F3D60;

	--section-bg: #1B2747;
	--section-bg-not-active:#191f32;
	--empty-bg:#455681;
	--button-color: #45ADFF; 
	--section-li-color:white;
	--pulse-color:rgba(250, 250, 250, 0.2);

	/* POKEMON TYPE COLORS  */
	--normal: #d5d5c3;
	--fire: #b6613f;
	--water: #7ea3ce;
	--grass:#88a466;
	--electric: #c9bc2d;
	--ice: #457494;
	--fighting: #8f511d;
	--poison: #883365;
	--ground: #785229;
	--flying:#638396;
	--psychic: #c46465;
	--bug: #83930b;
	--rock:  #65532a;
	--ghost:#bba48b;
	--dragon:  #315ca7;
	--steel: #6d6c69;
	--fairy:  #da9dab;

	--size-whitespace:1rem;
}

/* VOOR DE LIGHT MODE COLOR SCHEME */
@media (prefers-color-scheme: light) {
	:root {
	/* LGHT MODE COLOR SCHEME  */	
	--color-main:#2B3240;
	--color-background:#F4F5F9;

	--section-bg: #E8ECF3;
	--section-bg-not-active:#c3c7ce;
	--empty-bg:#a4a7ae;
	--button-color: #008EFF; 
	--section-li-color:rgb(60, 64, 77);
	--pulse-color:rgba(0, 0, 0, 0.2);

	/* POKEMON TYPE COLORS  */
	--normal: #F3F3E8;
	--fire: #EB7D53;
	--water: #9AC3F3;
	--grass:#A3C776;
	--electric: #ECDC34;
	--ice: #5A8DB1;
	--fighting: #B86A2B;
	--poison: #A5447C;
	--ground: #9A6B3A;
	--flying:#7D9DB0;
	--psychic: #EC8081;
	--bug: #A1B30D;
	--rock:  #7E6B3F;
	--ghost:#DAC5AE;
	--dragon:  #4173C8;
	--steel: #858482;
	--fairy:  #FCE0C8;
	}
}



/***********************************************************************************



/*********************/
/***** ANIMATION *****/
/*********************/
/* voor wanneer 'MY TEAM' LEEG is message*/
@keyframes pulse-animation {
	0% {
	  box-shadow: 0 0 0 0px var(--pulse-color);
	}
	100% {
	  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
}

  /* voor wanneer 'MY TEAM' VOL zit message*/
@keyframes notification {
	0%,70% {
	  opacity: 1;
	}
	100% {
		opacity: 0;
	}
}



/***********************************************************************************



/*********************/
/***** STYLING ******/
/*********************/
body {
font-family: 'Chivo', sans-serif;
  color:var(--color-main);
  
  background-color:var(--color-background);

  display:grid;
  grid-template-rows:min-content 1fr;
}


/****************/
/******HEADER****/
/****************/
/* header {
	margin: 0 0 100px 0;
} */


/****************/
/******MAIN******/
/****************/
main {
	margin-top: 40px;
	position:relative;
	display:grid;
}

h1 {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	font-size: 2.3rem;

	margin: 35px 0 5px 0;
}

h2 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 1.5rem;
}

p {
	/* font-style: italic; */
	text-align: center;

	margin-bottom: 35px;
}



/***********************************************************************************



/****************/
/******LISTS*****/
/****************/
/* ALGEMEEN voor alle sections*/
section {
	background-color: var(--section-bg);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 10px;

	position:relative;
	grid-area:1/1/-1/-1;
	padding: 1rem 0 40px 0;
	margin: 0 1.4rem 2rem 1.4rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}


/* voor het swipen 'animatie' */
section #team.linksSwipe {
	transform: translatex(calc(-50vh - 40vmin))
	scale(.85) 
	rotate(-15deg);
}

section #pokedex.rechtsSwipe{
	transform: translatex(calc(50vh + 40vmin))
	scale(.85) 
	rotate(15deg);
}

section.tabActive{
	z-index: 100;
}

section:not(.tabActive) {
	
	background-color:var(--section-bg-not-active);
}


/********
/* section titel */
section h2 {
	position:absolute;
	bottom:100%;
	width:calc(50vw - var(--size-whitespace) * .75);
	max-width:10rem;
	margin:0;
	
	background-color:inherit;
	border-radius:.5em .5em 0 0;
	
	font-size:1.1em;
	line-height:calc(var(--size-whitespace) * 2);
	text-align:center;
}


section:first-of-type h2 {
	/* net iets voorbij de helft vanaf rechts */
	right:calc(50vw - 5.5em * .25);
	padding: 0.3rem 2rem;
}

section:last-of-type h2 {
	/* net iets voorbij de helft vanaf links */
	left:calc(50vw - 5.5em * .25);
	padding: 0.3rem 2rem;
}

section:not(.tabActive) h2 {
	cursor:pointer;
	font-size: 1em;
}

section:not(.tabActive) h2:hover {
	opacity: 0.6;
	transition: 0.3s;
}


/********
/* ul*/
section ul {
	list-style:none;

	margin: 30px 0;
	padding: 0 10px;
	width: 100%;
	display:grid;
	grid-template-columns: repeat(auto-fit, 13em);
	justify-content:center;
	gap:1em;
}

section ul .draggable.dragging{
	opacity: 0;
}

/********
/* ul li*/
section ul li{
	background-color: var(--color-background);
	color: var(--section-li-color);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	
	position: relative;
	aspect-ratio:1/1;
	display: grid;
	justify-content: center;
	align-content: center;
	border-radius: 20px;
	transition: 0.4s;
}

section ul li:hover{
	transform: scale(1.1);
	cursor: grab;
}


section ul li h3 {
	font-size:1.5rem;
	text-align: center;

	margin:0;
}

section ul li img{
	height:8em;
}



/***********************************************************************************



/******************
/* EERSTE SECTION*/
section:nth-of-type(1){
	padding: 3rem 0 0 0;
}

/* NOTICE MESSAGE*/
section:nth-of-type(1) >p{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
	font-size: 1.2em;
	color: var(--section-li-color);
	position: relative;
	animation: notification 3s forwards;
	display: none;
}
section:nth-of-type(1) >p::after{
	content: 'remove a pokemon from your team';
	position: absolute;
	font-size: .6em;
	bottom: -1.5em;
	left: 0;
}



section:nth-of-type(1) div{
	width: 100%;
}

/* WANNEER 'MY TEAM' LEEG IS KRIJG JE DIT TE ZIEN*/
section:nth-of-type(1) ul:empty::after {
	content:"Start by clicking or dragging your favorite pokemons in here!!";
	text-align:center;
	font-size:1.3em;

	background-color: var(--empty-bg);
	border-radius: 20px;
	padding: 20px;

	animation: pulse-animation 2s infinite;
}

section:nth-of-type(1) ul:empty:hover{
	opacity: 0.6;
}

/* STYLING VAN DELETE BUTTON VOOR LI IN 'MY TEAM'*/
section ul.list li #deleteP{
	background-color: white;
	border: none;
	border-radius:50%;
	position: absolute;
	padding:0 0.5em;
	right: 0;
	width: 40px;
	height: 40px;
	margin:0;
	opacity: 0;
	}
	
section ul.list  li:hover #deleteP{
	opacity: 1;
}
	
section ul.list li:hover #deleteP:hover{
	background-color: red;
	text-shadow: 2px 2px 3px rgb(235, 216, 216);
	color: white;
}

/* pokemons in de pokedex krijgen geen delete button*/
section:nth-of-type(2) ul.list li #deleteP{
	display: none;
}


/********
/* RANDOMIZE TEAM BUTTON*/
section:nth-of-type(1) #randomizer{
	font-size: 1.1rem;
	font-weight: 700;
	color: var(--button-color);

	background-color: var(--section-bg);
	border: 2px solid var(--button-color);
	border-radius: 10px;
	padding: 19px;
	margin: 2rem 0 2em 0;
	transition: 0.4s;
}

section:nth-of-type(1)  #randomizer:hover {
	box-shadow: inset 0 0 0 3em var(--button-color);
	color: var(--section-bg);
}




/***********************************************************************************




/******************
/* TWEEDE SECTION*/
/* WANNEER IN DE POKEDEX GEEN RESULTATEN TE VINDEN ZIJN*/
section:nth-of-type(2) ul:empty::after {
	margin-top: 3em;
	content:"No pokemon found";
	text-align:center;
	font-size:1.3em;
}


/********
/* FILTERS*/
section:nth-of-type(2) > div{
	margin: 50px 0 0 0;
	/* width: 85%;
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: flex-start; */
	display:grid;
	grid-template-columns: repeat(1, 1fr);
	gap:1em;
}

section:nth-of-type(2) div label{
	font-size: 1rem;
	margin-right: 5px;
}

/****
/* FILTEREN OP BASIS VAN TYPES*/
section:nth-of-type(2) div select{
	border: none;
	font-size: 0.9rem;
	border-radius: 10px;
	padding: 3px 10px 3px 10px;
	border: 1px solid rgb(96, 96, 96);
	cursor: pointer;
}


/****
/* SEARCH BAR*/
section:nth-of-type(2) div input{
	font-size: 0.9rem;

	padding: 3px 5px 3px 10px;
	border: 1px solid rgb(96, 96, 96);
	border-radius: 10px;
}

/* elke pokemon type heeft iegen kleur*/
section ul li.normal{
	background-color: var(--normal);
}
section ul li.fire{
	background-color: var(--fire);
}
section ul li.water{
	background-color: var(--water);
}
section ul li.grass{
	background-color: var(--grass);
}
section ul li.electric{
	background-color: var(--electric);
}
section ul li.ice{
	background-color: var(--ice);
}
section ul li.fighting{
	background-color: var(--fighting);
}
section ul li.poison{
	background-color: var(--poison);
}
section ul li.ground{
	background-color: var(--ground);
}
section ul li.flying{
	background-color: var(--flying);
}
section ul li.psychic{
	background-color: var(--psychic);
}
section ul li.bug{
	background-color: var(--bug);
}
section ul li.rock{
	background-color: var(--rock);
}
section ul li.ghost{
	background-color: var(--ghost);
}
section ul li.dragon{
	background-color: var(--dragon);
}
section ul li.steel{
	background-color: var(--steel);
}
section ul li.fairy{
	background-color: var(--fairy);
}


/* VOOR HET FILTEREN VAN DE POKEMONS*/
section ul[data-filter="normal"] li:not(.normal),
section ul[data-filter="fire"] li:not(.fire),
section ul[data-filter="water"] li:not(.water),
section ul[data-filter="grass"] li:not(.grass),
section ul[data-filter="electric"] li:not(.electric),
section ul[data-filter="ice"] li:not(.ice),
section ul[data-filter="fighting"] li:not(.fighting),
section ul[data-filter="poison"] li:not(.poison),
section ul[data-filter="ground"] li:not(.ground),
section ul[data-filter="flying"] li:not(.flying),
section ul[data-filter="psychic"] li:not(.psychic),
section ul[data-filter="bug"] li:not(.bug),
section ul[data-filter="rock"] li:not(.rock),
section ul[data-filter="ghost"] li:not(.ghost),
section ul[data-filter="dark"] li:not(.dark),
section ul[data-filter="dragon"] li:not(.dragon),
section ul[data-filter="steel"] li:not(.steel),
section ul[data-filter="fairy"] li:not(.fairy){
	display: none;
}



/***********************************************************************************



/***************************/
/******* MEDIA QUERY *******/
/***************************/
/* ZODAT DE FILTERS NAAST ELKAAR KOMEN TE STAAN VANAF 530px*/
@media screen and (min-width: 32em)  {

	section:nth-of-type(2) > div { 
		grid-template-columns: repeat(2, 1fr); 
	}
  }








/* ZODAT MY TEAM EN POKEDEX ONDER ELKAAR KOMEN TE STAAN VANAF 1024PX*/
@media screen and (min-width: 64em)  {
	/* body{
		background-color: pink;
	} */

	main {
		margin-top: 0;
		position:relative;
		display:flex;
		flex-direction: column;
	}

	section:not(.tabActive) {
	
		background-color:var(--section-bg);
	}

	section h2 {
		position:static;
		margin:1em 0 0.5em 0;
		font-size:1.2em;
	}
	
	section:first-of-type h2 {
		right:calc(0);
	}
	
	section:last-of-type h2 {
		left:calc(0);
	}


	section:not(.tabActive) h2 {
		font-size: 1.2em;

	}
	
	section:not(.tabActive) h2:hover {
		opacity: 1;
		cursor:unset;
	}


	section:nth-of-type(1){
		padding: 1rem 0 40px 0;
	}
}