/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-main:#8EA5D1;
	--color-background:#2F3D60;

	--section-bg: #1B2747;
	--section-bg-not-active:#191f32;
	--empty-bg:#455681;
	--button-color: #45ADFF; 

	--pulse-color:rgba(250, 250, 250, 0.2);

	--size-whitespace:1rem;
}

@media (prefers-color-scheme: light) {
	:root {
	--color-main:#2B3240;
	--color-background:#F4F5F9;

	--section-bg: #E8ECF3;
	--empty-bg:#a4a7ae;
	--button-color: #008EFF; 
	--pulse-color:rgba(0, 0, 0, 0.2);
	}

	
}

/*********************/
/* ANIMATION */
/*********************/

@keyframes pulse-animation {
	0% {
	  box-shadow: 0 0 0 0px var(--pulse-color);
	}
	100% {
	  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}
  }


/*********************/
/***** STYLING ******/
/*********************/
body {
font-family: 'Chivo', sans-serif;
  color:var(--color-main);
  
  background-color:var(--color-background);

  display:grid;
  grid-template-rows:min-content 1fr;
}


/****************/
/******HEADER****/
/****************/
/* header {
	margin: 0 0 100px 0;
} */


/****************/
/******MAIN******/
/****************/
main {
	position:relative;
	display:grid;
}

h1 {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	font-size: 2.3rem;

	margin: 35px 0 5px 0;
}

h2 {
	font-family: 'Archivo Black', sans-serif;
	font-size: 1.5rem;
}

p {
	/* font-style: italic; */
	text-align: center;

	margin-bottom: 35px;
}



/****************/
/******LISTS*****/
/****************/
/* ALGEMEEN voor alle sections*/
section {
	background-color: var(--section-bg);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 10px;

	position:relative;
	grid-area:1/1/-1/-1;
	padding: 20px 0 40px 0;
	margin: 0 1.4rem 2rem 1.4rem;

	display: flex;
	align-items: center;
	flex-direction: column;
}

section.tabActive{
	z-index: 100;
}

section:not(.tabActive) {
	
	background-color:var(--section-bg-not-active);
}

/********
/* section titel */
section h2 {
	position:absolute;
	bottom:100%;
	width:calc(50vw - var(--size-whitespace) * .75);
	max-width:10rem;
	margin:0;
	
	background-color:inherit;
	border-radius:.5em .5em 0 0;
	
	font-size:1.1em;
	line-height:calc(var(--size-whitespace) * 2);
	text-align:center;
}


section:first-of-type h2 {
	/* net iets voorbij de helft vanaf rechts */
	right:calc(50vw + var(--size-whitespace) * .25);
}

section:last-of-type h2 {
	/* net iets voorbij de helft vanaf links */
	left:calc(50vw + var(--size-whitespace) * .25);
}

section:not(.tabActive) h2 {
	cursor:pointer;
	font-size: 1em;
	transition: 0.3s;
}

section:not(.tabActive) h2:hover {
	opacity: 0.6;
}




/********
/* ul*/
section ul {
	list-style:none;

	margin: 30px 0;
	padding: 0 10px;
	width: 100%;
	display:grid;
	grid-template-columns: repeat(auto-fit, 13em);
	justify-content:center;
	gap:1em;
}

section ul .draggable.dragging{
	opacity: 0;
}

/********
/* ul li*/
section ul li{
	background-color: var(--color-background);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	
	aspect-ratio:1/1;
	display: grid;
	justify-content: center;
	align-content: center;
	border-radius: 20px;
	transition: 0.4s;
}

section ul li:hover{
	transform: scale(1.1);
	cursor: pointer;
	
}


/*Dit tekstje wordt alleen getoond wanneer er geen pokemon(s) in jouw team zit*/
/* section ul li:empty::after {
	content:"???";
	text-align:center;
	font-size:1.3em;
	
} */

section ul li h3 {
	font-size:1.5rem;
	text-align: center;

	margin:0;
}

section ul li img{
	height:8em;
}



/******************
/* EERSTE SECTION*/
/* section:nth-of-type(1){
	background-color: #d8d8d8;
} */
section:nth-of-type(1) div{
	width: 100%;
}

section:nth-of-type(1) ul:empty::after {
	content:"Start by dragging your favorite pokemons in here!!";
	text-align:center;
	font-size:1.3em;

	background-color: var(--empty-bg);
	border-radius: 20px;
	padding: 20px;

	animation: pulse-animation 2s infinite;
}

section:nth-of-type(1) ul:empty::after:hover{
	opacity: 0.5;
}

/********
/* RANDOMIZE TEAM BUTTON*/
section:nth-of-type(1) button{
	font-size: 1.1rem;
	font-weight: 700;
	color: var(--button-color);

	background-color: var(--section-bg);
	border: 2px solid var(--button-color);
	border-radius: 10px;
	padding: 19px;
	transition: 0.4s;
}

section:nth-of-type(1) button:hover, 
section:nth-of-type(1) button:focus{
	box-shadow: inset 0 0 0 3em var(--button-color);
	color: var(--section-bg);
}





/******************
/* TWEEDE SECTION*/
section:nth-of-type(2) ul:empty::after {
	content:"No pokemon found";
	text-align:center;
	font-size:1.3em;
}

/********
/* FILTERS*/
section:nth-of-type(2) > div{
	margin: 50px 0 0 0;
	display:grid;
	grid-template-columns: repeat(1, 1fr);
	gap:1em;
	/* border: 1px solid red; */
}

section:nth-of-type(2) div label{
	font-size: 1rem;
	margin-right: 5px;
}

/****
/* FILTEREN*/



/****
/* SEARCH BAR*/
section:nth-of-type(2) div input{
	font-size: 0.9rem;

	padding: 3px 5px 3px 10px;
	border: 1px solid rgb(96, 96, 96);
	border-radius: 10px;
}



/***************************/
/******* MEDIA QUERY *******/
/***************************/

@media screen and (min-width: 32em)  {
	section:nth-of-type(2) > div { 
		grid-template-columns: repeat(2, 1fr); 
	}
  }